.NavPills-contentWrapper-269{
  width: 600px;
  @media screen and (max-width: 768px) {                
    width: 100%;
  }
}

#profile__GridContainer_chartWrappers{
  margin: auto;

  #profile__GridContainer_temperature{
    max-width: 100px;
    margin-top: 15px;
    @media screen and (max-width: 1200px) {                
      max-width: 0;
    }
  }

  #profile__GridContainer_filter{
    padding-left: 80px;
    padding-bottom: 20px;
  }
  
  #profile__GridContainer_current{
    padding: 50px;
  }
}
