.NavPills-contentWrapper-269{
  width: 600px;
  @media screen and (max-width: 768px) {                
    width: 100%;
  }
}

#profile__GridContainer_chartWrappers{

  margin: auto;



  #profile__GridContainer_temperature{
    max-width: 100px;
    margin-top: 15px;
    @media screen and (max-width: 1200px) {                
      max-width: 0;
    }
  }
  
  #profile__GridContainer_humidity{
    max-width: 300px;
    padding-top: 30px;
    margin: 0 auto;
    #profile__div_humidityContainer{
      width: 300px;
      margin-left: -45px;
      @media screen and (max-width: 992px) {                
        margin-left: -5%;
      }
    }
  }
}
